.about {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
  
    .about_container {
      width: 100%;
      height: 100%;
      transition: 1s;
      .aboutdialog {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 0.5rem 1.2rem;
        -webkit-backdrop-filter: blur(5px) ;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        height: auto;
        transition: 0.5s;
        opacity: 1;
        overflow: hidden;
      }
      .aboutmedialog {
        width: 12.5%;
        margin-top: 42vmin;
        font-size: 0.6rem;
  
        background-color: rgba(155, 100, 175, 0.4);
        li {
          line-height: 1.2rem;
          color: rgba(0, 0, 0, 0.6);
        }
        .progress {
          height: 20px;
        }
      }
      .aboutblogdialog {
        width: 17%;
        margin-top: 46vmin;
        font-size: 0.6rem;
        background-color: rgba(251, 199, 177, 0.4);
        li {
          line-height: 1.5rem;
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .aboutskilldialog {
        width: 12.5%;
        margin-left: 35vw;
        font-size: 0.6rem;
        background-color: rgba(105, 104, 121, 0.2);
        color: white;
        li {
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .aboutspecialnotedialog {
        width: 12.5%;
        font-size: 0.6rem;
        margin-top: 45vh;
        background-color: rgba(206, 107, 162, 0.3);
  
        li {
          line-height: 1.5rem;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  
    .toaboutdetail {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      position: absolute;
      top: 30rem;
      left: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      cursor: pointer;
      -webkit-user-select: none;

      user-select: none;
      transition: 2s;
  
      .toaboutdetail_item {
        width: 100%;
        height: 100%;
        background-color: rgba(245, 234, 203, 0.7);
        border-radius: 50%;
        z-index: 99;
      }
      &::after {
        content: "";
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 0rem;
        top: 0rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);
        animation: toaboutdetail1 1s infinite linear;
      }
      &::before {
        content: "";
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 0rem;
        top: 0rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.4);
        animation: toaboutdetail1 2s infinite 1s linear;
      }
      .toaboutdetailtext_left {
        position: absolute;
        top: 3rem;
        width: 5rem;
        left: -3rem;
        font-weight: 900;
      }
      .toaboutdetailtext_right {
        position: absolute;
        top: 3rem;
        width: 5rem;
        left: 3rem;
        font-weight: 900;
      }
    }
    @keyframes toaboutdetail1 {
      from {
        width: 3rem;
        height: 3rem;
      }
      to {
        left: -2.5rem;
        top: -2.5rem;
        width: 8rem;
        height: 8rem;
        opacity: 0;
      }
    }
    .cover {
      background-image: linear-gradient(135deg, rgb(36, 26, 79), rgb(115, 83, 154));
      z-index: 4;
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 3s;
      -webkit-user-select: none;
      user-select: none;
      .loadingtext {
        position: relative;
        top: 3rem;
        left: 7rem;
        color: white;
        font-size: 0.9rem;
        @keyframes loadingtext {
          0% {
            top: 0rem;
          }
          50% {
            top: -1rem;
          }
          100% {
            top: 0rem;
          }
        }
        @keyframes loadingtextd {
          0% {
            top: 0rem;
          }
          50% {
            top: -0.4rem;
          }
          100% {
            top: 0rem;
          }
        }
        span {
          transition: 2s all;
          display: inline-block;
          position: relative;
        }
        span:nth-child(1) {
          animation: loadingtext 2s ease-in-out;
        }
        span:nth-child(2) {
          animation: loadingtext 2s 1 1s ease-in-out;
        }
        span:nth-child(3) {
          animation: loadingtext 2s 1 2s ease-in-out;
        }
        span:nth-child(4) {
          animation: loadingtext 2s 1 3s ease-in-out;
        }
        span:nth-child(5) {
          animation: loadingtext 2s 1 4s ease-in-out;
        }
        span:nth-child(6) {
          animation: loadingtextd 1s 1 5s;
        }
        span:nth-child(7) {
          animation: loadingtextd 1s 1 6s;
        }
        span:nth-child(8) {
          animation: loadingtextd 1s 1 7s;
        }
      }
  
      .speed {
        position: fixed;
        width: 20rem;
        height: 2.5rem;
        border-radius: 50px;
        border: 3px solid rgba(0, 0, 0, 0.6);
        overflow: hidden;
        color: rgba(255, 255, 255, 0.85);
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        p {
          position: absolute;
          margin-left: 1rem;
        }
  
        .speed_item {
          width: 0%;
          height: 100%;
          border-radius: 0px;
          background-color: rgba(0, 0, 0, 0.2);
          display: flex;
          align-items: center;
        }
      }
      .about_tip {
        position: absolute;
        bottom: 2rem;
        color: white;
      }
    }
  }
  .me {
    transform-origin: 0rem 55%;
    transform: scale(3);
  }
  .blog {
    transform-origin: 66.5% 61%;
    transform: scale(3);
  }
  .skill {
    transform-origin: 42% 100%;
    transform: scale(3);
  }
  .specialnote {
    transform-origin: 100% 60%;
    transform: scale(3);
  }